# Deployment used by `npx convex dev`
#convex
CONVEX_DEPLOYMENT=
NEXT_PUBLIC_CONVEX_URL=

#openai - contact support@snapzion.com for API Pricings , we have $0.001 per image = $1 = 1000 High Quality images
OPENAI_BASE_URL=
OPENAI_API_KEY=
OPENAI_MODEL_NAME=

#clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

#creem
CREEM_PAYMENT_LINK=
CREEM_PRODUCT_ID=
CREEM_API_KEY=
CREEM_SECRET=

#next
NEXT_PUBLIC_BASE_URL=